<%= form_for(@new_car) do |f| %>
  <% if @new_car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_car.errors.count, "error") %> prohibited this new_car from being saved:</h2>

      <ul>
      <% @new_car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :oem %><br />
    <%= f.text_field :oem %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :transmission %><br />
    <%= f.text_field :transmission %>
  </div>
  <div class="field">
    <%= f.label :drive_type %><br />
    <%= f.text_field :drive_type %>
  </div>
  <div class="field">
    <%= f.label :engine_size %><br />
    <%= f.text_field :engine_size %>
  </div>
  <div class="field">
    <%= f.label :confort_type %><br />
    <%= f.number_field :confort_type %>
  </div>
  <div class="field">
    <%= f.label :power_equip %><br />
    <%= f.number_field :power_equip %>
  </div>
  <div class="field">
    <%= f.label :seat_material %><br />
    <%= f.text_field :seat_material %>
  </div>
  <div class="field">
    <%= f.label :safety_feature %><br />
    <%= f.number_field :safety_feature %>
  </div>
  <div class="field">
    <%= f.label :performance %><br />
    <%= f.number_field :performance %>
  </div>
  <div class="field">
    <%= f.label :gearbox %><br />
    <%= f.number_field :gearbox %>
  </div>
  <div class="field">
    <%= f.label :body_style %><br />
    <%= f.text_field :body_style %>
  </div>
  <div class="field">
    <%= f.label :string %><br />
    <%= f.text_field :string %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
