<p id="notice"><%= notice %></p>

<p>
  <b>Oem:</b>
  <%= @new_car.oem %>
</p>

<p>
  <b>Model:</b>
  <%= @new_car.model %>
</p>

<p>
  <b>Transmission:</b>
  <%= @new_car.transmission %>
</p>

<p>
  <b>Drive type:</b>
  <%= @new_car.drive_type %>
</p>

<p>
  <b>Engine size:</b>
  <%= @new_car.engine_size %>
</p>

<p>
  <b>Confort type:</b>
  <%= @new_car.confort_type %>
</p>

<p>
  <b>Power equip:</b>
  <%= @new_car.power_equip %>
</p>

<p>
  <b>Seat material:</b>
  <%= @new_car.seat_material %>
</p>

<p>
  <b>Safety feature:</b>
  <%= @new_car.safety_feature %>
</p>

<p>
  <b>Performance:</b>
  <%= @new_car.performance %>
</p>

<p>
  <b>Gearbox:</b>
  <%= @new_car.gearbox %>
</p>

<p>
  <b>Body style:</b>
  <%= @new_car.body_style %>
</p>

<p>
  <b>String:</b>
  <%= @new_car.string %>
</p>


<%= link_to 'Edit', edit_new_car_path(@new_car) %> |
<%= link_to 'Back', new_cars_path %>
